* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    background: #fefefe;
    font-family: sans-serif;
  }
  
  .container {
    padding: 5px;
    width: 600px;
    border: 1px solid black;
    margin: auto;

}
  